body{
font-family: sans-serif;
}
.conteiner{
    width: 635px;
    margin-left: auto;
    margin-right: auto;
}
.main-navigation{
    display: inline;
    display: flex;
    justify-content: space-between;
}
.msin-menu{
    display: inline;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.main-menu-item{
    display: inline;
    padding: 25px;
}
.main-menu-link {
    color: #000;

    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 24.3px */
    text-decoration: none;
}
.element{
    height: 552px;
    width: auto;
    background-color: #00BDC9;
}
.image-container {
    width: 600px;
    height: 370px;
    border: 1px solid #00BDC9 ;
    position: absolute;
    top: 150px;
    left: 500px;
}

}
.name{
color: #FAFAFA;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: 115%; /* 55.2px */
position: absolute;
    top: 90px;
    left: 90px
}
.text-conteiner{
    width: 635px;
    margin-left: auto;
    margin-right: auto;
}
.page-title{
color: #000;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 135%; /* 64.8px */
}
.content{
color: #161616;
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 31.5px */
}
.content-text{
color: #161616;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}
.conteiner-button{
    text-align: center
}
.button{
  background-color: #3498bd;
  color: #f6f8f8; 
 padding: 10px 20px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}
/* .button{
    color: #FFF;

text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 135%; /* 24.3px */
} */
.conteiner-footer{
    width: 635px;
    margin-left: auto;
    margin-right: auto;  
}
.footer{
color: #161616;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}